<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Report</title>
</head>
<body>
    <h1>Survey Report</h1>

    <% CoffeeReport.forEach(CoffeeReport => { %>
        <h3>Name: <%= CoffeeReport.name %></h3>
        <h3>Email: <%= CoffeeReport.emailAdress %></h3>
        <h3>Phone: <%= CoffeeReport.phoneNumber %></h3>
        <h3>Suggestions: <%= CoffeeReport.Suggestions %></h3>
        <h3>Date: <%= CoffeeReport.date ? CoffeeReport.date.toLocaleString() : 'No Date Provided' %></h3>
        <hr>
    <% }) %>
</body>
</html>
